<a id="starme" href="https://github.com/tensor-labs/rocket-edit">Star us on GitHub</a>
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <!-- <img src="../assets/img/tensor-logo.png" class="logo"/> -->
      Tensor Labs
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="https://github.com/tensor-labs/rocket-edit" title="github" target="_blank">
      <img src="../assets/img/GitHub.png" />
    </a>
    <a href="http://npmjs.com/packages/rocket-edit" target="_blank" title="npm">
      <img src="../assets/img//npm.png" />
    </a>
  </div>
</div>
<div class="container">
  <div class="rocket">
    <img src="../assets/img/ngRocket.png" class="img-rocket" />
  </div>
  <h3 class="prod-title">Rocket Edit</h3>
  <p class="prod-desc">
    Rocket-edit is a library of Angular (version 8+) that allows you to create editable elements. Such technique is also
    known as click-to-edit or edit-in-place.
  </p>
  <p class="prod-desc">
    Loved by thousands of developers. Simple, lightweight and rhobust.
  </p>
  <div class="buttons">
    <button class="btn">Demo</button>
    <button class="btn">Installation</button>
  </div>

  <div class="credits">
    Created with <span style="color:red;">&#10084;</span> at Tensor Labs
  </div>
</div>
<!-- <div class="header">
  <div class="prod-header">
    <h3 class="title">Rocket Edit</h3>
  </div>
  <div class="prod-nav">
    <ul>
      <li>
        <a href="#">github</a>
      </li>
      <li>
        <a href="#">npm</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="tabs">
    <input name="tabs" type="radio" id="tab-1" checked="checked" class="input" />
    <label for="tab-1" class="label">Output</label>
    <div class="panel">
      <p>Inline text</p>
      <div class="control">
        <rocket-edit type="text" [(ngModel)]="textValue" (Save)="save($event)" [name]="editableText" [required]="true"
          [placeholder]="placeholder" [title]="title" [minlength]="1" [maxlength]="10"></rocket-edit>
      </div>
      <p>Inline number</p>
      <div class="control">
        <rocket-edit type="number" [(ngModel)]="numberValue" (Save)="save($event)" [name]="editableNumber" [min]="1"
          [max]="Infinity" [required]="true" [placeholder]="placeholder" [title]="title"></rocket-edit>
      </div>
      <p>Inline time</p>
      <div class="control">
        <rocket-edit type="time" [(ngModel)]="timeValue" (Save)="save($event)" [name]="editableTime" [required]="true"
          [title]="title" [step]="any"></rocket-edit>
      </div>
      <p>Inline select</p>
      <div class="control">
        <rocket-edit type="select" [(ngModel)]="selectedValue" (Save)="save($event)" [name]="editableSelect"
          [required]="true" [title]="title" [options]="options"></rocket-edit>
      </div>


    </div>

    <input name="tabs" type="radio" id="tab-2" class="input" />
    <label for="tab-2" class="label">Html</label>
    <div class="panel">
      <p>Inline text</p>
      <code [innerHTML]="code1"></code><br/>
      <p>Inline number</p>
      <code [innerHTML]="code2"></code><br/>
      <p>Inline time</p>
      <code [innerHTML]="code3"></code><br/>
      <p>Inline select</p>
      <code [innerHTML]="code4"></code><br/>
    </div>

    <input name="tabs" type="radio" id="tab-3" class="input" />
    <label for="tab-3" class="label">Typescript</label>
    <div class="panel">
      <code [innerHTML]="tsCode"></code>
    </div>
  </div>
</div> -->